<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new clothing item
    </h2>

    <form action="/insert_clothing_item" method="post">
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="color_box">
          Color
        </label>

        <input type="text" id="color_box" name="color_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="pattern_box">
          Pattern
        </label>

        <input type="text" id="pattern_box" name="pattern_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="material_box">
          Material
        </label>

        <input type="text" id="material_box" name="material_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="size_box">
          Size
        </label>

        <input type="text" id="size_box" name="size_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="brand_box">
          Brand
        </label>

        <input type="text" id="brand_box" name="brand_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="retailer_box">
          Retailer
        </label>

        <input type="text" id="retailer_box" name="retailer_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="price_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="price_units_box">
          Price units
        </label>

        <input type="text" id="price_units_box" name="price_units_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="date_purchased_box">
          Date purchased
        </label>

        <input type="date" id="date_purchased_box" name="date_purchased_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="category_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="quantity_box">
          Quantity
        </label>

        <input type="text" id="quantity_box" name="quantity_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="description_from_query" class="form-control" rows="3"></textarea>
      </div>


      <div class="form-group">
        <label for="default_image_url_box">
          Default image url
        </label>

        <input type="text" id="default_image_url_box" name="default_image_url_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create clothing item
      </button>
    </form>
  </div>
</div>
