<html>

<head>
  <title>Raghu Betina</title>

  <meta charset="utf-8">

  <!-- Connect to our own additional CSS -->
  <link rel="stylesheet" href="target.css">

  <!-- Connect to Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900i|Source+Sans+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
<table class="main-content">
  <tr>
    <td colspan="12" class="top-cover">
      <table class="cover-content">
        <tr>

          <td class="cover-cell">
            <h1 class="cover-heading">Raghu Betina</h1>
            <a href="/">Back to all people</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>